extends layout

block content

  header
    h1.title(title="Twitter Timeline Spotlight intelligently emphasizes relevant tweets, based on your recent activity") Twitter Timeline Spotlight
      p.tagline See the tweets that matter most
    img.logo(src="/images/logo/drawable-mdpi/ic_launcher.png")
    .info-bar 
      .logged-in-user Logged in as 
        a(href="https://twitter.com/"+user.screenName)
          @
          = user.screenName
      .show-options Options
      .log-out
        a(href="/logout") Log out
      ul.options
        li Built with node.js by 
          a(href="http://jeffschomay.com", target="_blank") Jeff Schomay
          | 
          |<a href="https://twitter.com/jschomay" class="twitter-follow-button" data-show-count="false">Follow @jschomay</a>
          |<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          |<br>Source code available on 
          a(href="https://github.com/jschomay/twitter-spotlight", target="_blank") github
        li
          form Spotlight mode: 
            select(name="spotlight-mode")
              option(value="spotlight") Spotlight
              option(value="hide") Hide
              option(value="none") None
        li
          form(class="config") Spotlight tweets: <br>
            |With hashtags I used in the last 
            input(name="hashtags", value="#{config.recency.hashtags}", type="text", size="2") 
            | days
            br
            |From people I interacted with in the last 
            input(name="usersYouInteractWith", value="#{config.recency.usersYouInteractWith}", type="text", size="2") 
            | days
            br
            |From people who interacted with me in the last 
            input(name="usersInteractingWithYou", value="#{config.recency.usersInteractingWithYou}", type="text", size="2") 
            | days
            br
            |From the last  
            input(name="followed", value="#{config.recency.followed}", type="text", size="2") 
            | people you followed
            br
            |From the last 
            input(name="followers", value="#{config.recency.followers}", type="text", size="2") 
            | friends who followed you back
            br
            input(type="submit", value="Apply")
        li Your "Smart List:"
          p #{smartlist}

  section.page
    .stream.home-stream.spotlight
      ol.stream-items
        each tweet in tweets
          include tweet
